@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,700;1,300&family=Oswald:wght@700&display=swap");

* {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
	overflow-y: visible;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

h1 {
	margin-bottom: 0 !important;
}

/* SECTION 1 */
#section-one {
	background-image: url("/assets/mountain-4i.png");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#section-one::before {
	content: "";
	background: url("/assets/Layer_627.png") center no-repeat;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#nav-one {
	height: 55px;
}
.logo-container {
	display: flex;
}
.link {
	color: #fefeff;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 900;
	font-style: italic;
	line-height: 20px;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 2px;
	line-height: normal;
	z-index: 100;
}
.link:hover {
	color: #fefeff;
}

#section-one .header-title {
	width: 300px;
	font-family: "Bebas Neue", cursive;
	font-size: 72px;
	text-transform: uppercase;
	position: relative;
	margin: 200px auto;
}

.losangeles {
	color: #4d4d4d;
}

.mountains {
	color: #414f6b;
	margin-top: -10px;
	letter-spacing: 0.7px;
}

#section-one .mountains {
	letter-spacing: 5px;
}

@media (min-width: 720px) {
	#section-one .header-title {
		width: 600px;
		font-size: 125px;
		line-height: 124.56px;
		margin: 145px auto;
	}
}
/* SECTION-TWO */
#section-two-container {
	position: relative;
	height: 100%;
}
#nav-two {
	height: 80px;
}

#section-two .link {
	color: #414f6b;
}

@media (max-width: 400px) {
	#section-two .nav-links {
		display: flex;
		flex-direction: column;
	}

	#section-two .link-two {
		margin: 0 !important;
	}
}

#section-two-bg {
	background-image: url("/assets/peak..png");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.nav-title {
	display: flex;
	flex-direction: column;
	font-family: "Bebas Neue", cursive;
	font-size: 21px;
	font-weight: 400;
	text-transform: uppercase;
}

.header-container {
	display: flex;
	flex-direction: column;
	width: 880px;
}
.header {
	display: flex;
	width: 100px;
}

.header-title {
	font-family: "Bebas Neue", cursive;
	font-size: 100px;
	font-weight: 400;
	line-height: normal;
	opacity: 0.5;
	color: #414f6b;
	text-align: left;
	text-transform: uppercase;
}

@media (min-width: 720px) {
	#section-one .header-title {
		font-size: 155px;
	}

	#section-two .header-subtitle {
		margin-top: 40px;
	}
}
.header-subtitle {
	position: relative;
	left: -25%;
	margin-top: 50px;
	color: #414f6b;
	font-family: "Oswald", sans-serif;
	font-size: 32px;
	text-align: left;
	text-transform: uppercase;
}
.text {
	color: #000000;
	font-family: Lato;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	width: 60vw;
}

#section-two .text {
	margin: -40px 0 0 80px;
}

#my-carousel {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(65, 79, 107, 0.8);
}

.carousel-indicators {
	top: 85%;
}
.carousel .carousel-indicators button {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.carousel-inner {
	padding: 30px 0;
	/* width: 76% !important; */
}

/* .carousel-item .active {
	margin: 50% 50%;
} */

.carousel-image {
	width: 100px;
	height: 60px;
	opacity: 1;
}

@media (min-width: 720px) {
	.carousel-image {
		width: 220px;
		height: 135px;
		opacity: 1;
	}
}

@media (min-width: 500px) {
	.carousel-image {
		width: 140px;
		height: 90px;
		opacity: 1;
	}
}
/* SECTION THREE */
.nav-bottom {
	height: 50px;
	background: #414f6b;
}
#section-three .text {
	width: 75%;
}

#section-three .header-container {
	width: 200px;
}
@media (max-width: 400px) {
	#section-three .header-container {
		width: 300px;
	}
}

.nav-bottom ul {
	width: 80%;
}

.nav-tabs {
	border-bottom: none !important;
}

.nav-tabs li .tab-btn {
	height: 50px;
	background: transparent;
	color: #b0b4be;
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	border: transparent !important;
	padding: 0 10px;
}

.nav-tabs .tab-btn.active {
	color: #414f6b !important;
	background-color: #b0b4be !important;
	border-color: transparent !important;
	text-decoration: underline !important;
	text-transform: uppercase;
}

.nav-tabs .tab-btn:focus {
	border-color: transparent !important;
}
.mountain {
	display: none;
}

.mountain.active {
	display: block;
}
#mountain-one {
	background-image: url("/assets/mountain-2.png");
	height: 80vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0 0 40px;
}
@media (min-width: 720px) {
	#mountain-one {
		padding: 100px 0 0 250px;
	}
}
#mountain-two {
	background-image: url("/assets/mountain-1.png");
	height: 80vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

table {
	width: 250px !important;
	height: 150px !important;
	background: #fff;
}

@media (min-width: 500px) {
	table {
		width: 400px !important;
		height: 220px !important;
		background: #fff;
	}
}
th {
	color: #414f6b;
	font-family: "Oswald", sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
}

td {
	color: #414f6b;
	font-family: "Lato", sans-serif;
}

tr {
	padding-left: 5px;
}

footer {
	position: relative;
	top: 100%;
	height: 100px;
	background: #414f6b;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

footer::after {
	content: "";
	background: #414f6b;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#section-three .losangeles,
#section-three .mountains {
	color: #b0b4be;
}
.copyright {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
	color: #b0b4be;
	letter-spacing: 1.2px;
}
